*{
    margin: 0;
    padding: 0;
    /* background-color: black; */
}

.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 30%;
    border-radius: 50px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;

}

.nav-list{
    width: 70%;
    display: flex;
    align-items: center;
}

.nav-list li{
    padding: 26px 30px;
    list-style:none;
}

.nav-list li a{
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.nav-list li a:hover{
    text-decoration: none;
    color: grey;

}

.rightNav{
    /* background-color: red; */
    width: 30%;
    text-align: right;
}

.background{
    background-color: #3498db;
    /* background:rgba(0, 0, 0, 0.7) url(hostel.jpg); */
    background-size: cover;
    background-blend-mode: darken;
}

.firstsection{
    height: 100vh;
}

.firstSection{
    height: 100vh;
}

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 80%;
}

.firsthalf{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secondhalf{
    width: 30%;   
}

/* .secondhalf img{
    width: 70%;   
    border: 4px solid white;
    border-radius: 150px;
    display: block;
    margin: auto;
} */

.btn{
    padding: 4px 20px;
    margin: 7px;
    border: 2px solid white;
    border-radius: 8px;
    font-size: 15px;
    background-color: rgba(166, 177, 135, 0); 
    color: white;
    background: none;
    cursor: pointer;
}

.text-footer{
    text-align: center;
    display: flex;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    color: white;
}


.burger{
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}

.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}

/* @media only screen and (max-width:1140px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
    }
    .rightNav{
        text-align: center;
    }
    .burger{
        display: block;
    }
    .h-nav{
        height: 72px;
    }
    .v-class{
        opacity: 0;
    }
} */

/* .firstSection{
    height: 100vh;
} */

/* .background{
    background-color: ghostwhite;
    background-size: cover;
    background-blend-mode: darken;
} */

.first{

    font-family: sans-serif;
    text-align: center;
}

.first h2{
    padding: 25px;
    text-align: center;
}



table { 
    width: 800px; 
    border-collapse: collapse; 
    margin:50px auto;
    }
/* Zebra striping */
tr:nth-of-type(odd) { 
    background: #eee; 
    }
th { 
    background: #3498db; 
    color: white; 
    font-weight: bold; 
    }
td, th { 
    padding: 10px; 
    border: 1px solid #ccc; 
    text-align: left; 
    font-size: 18px;
    }

.extra{
        display: flex;
        justify-content: center;
        align-items: center;
}

.e-but{
    width: 50%;
    text-align: center;
    color: red;
}

.button{
    padding: 15px 20px;
    margin: 0px;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 16px;
    background-color: skyblue; 
    color: black;
    cursor: pointer;
}
